{% extends "crud/base.html" %}
{% block title %}사용자 편집{% endblock %}
{% block content %}

<h2>사용자 편집</h2>
<form 
    action="{{url_for('crud.edit_user', user_id=user.id ) }}"
    method = "post"
    novalidate = "novalidate"
>
    {{ form.csrf_token }}
    <P>{{ form.username.label }} {{ form.username(placeholder = "사용자명", value = user.username) }}</P>
    {% for error in form.username.erros %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <P>{{ form.email.label }} {{  form.email(placeholder = "메일 주소", value = user.email)}}</P>
    {% for error in form.email.errors %}
    <span style="color: red;">{{ error  }}</span>
    {% endfor %}

    <P>{{ form.password.label }} {{  form.password(placeholder = "비밀번호")}}</P>
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error  }}</span>
    {% endfor %}

    <p><input type="submit" value="갱신"></p>
</form>

<form action="{{ url_for('crud.delete_user', user_id=user.id) }}" method="post">
    {{  form.csrf_token  }}
    <input type="submit" value="삭제">
</form>
{% endblock %}
